
.cart-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.btnDelete{
    position: absolute;
    right: 10px;
    padding: 2px;
    margin-left: 10px;
    background-color: rgb(189, 78, 78);
    border-color: none;
    color: #fff;
    
}
.btnDelete:hover{
    background-color: rgb(16, 64, 238);
    color: #fff;
}