/* You can add global styles to this file, and also import other style files */
.cart-item{
    font-size:small;
}
.filters{
    font-size: small;
}
.guest-form-card h2{
    font-size: medium;
    text-transform: uppercase;
}
.guest-form-card label{
    font-size: small;
}

.btn-primary.disabled, .btn-primary:disabled{
    cursor: not-allowed;
}